<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util" xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd"> <!-- bean definitions here -->
    <bean id="programmer1" class = "org.example.Programmer" scope="singleton"> <!-- this will create bean(object) automatically wherther you are using or not -->
        <property name="age" value="21"></property>
    </bean>
<!--    <bean id="programmer1" class = "org.example.Programmer" scope="prototype">  &lt;!&ndash; this will not create a object automaticall, whenever you create a object then it will create a bean &ndash;&gt;-->

<!--    </bean>-->

    <bean id="lap" class = "org.example.Laptop">

    </bean>
</beans>