<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util" xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd"> <!-- bean definitions here -->


    <bean id="programmer1" class = "org.example.Programmer" scope="singleton" autowire="byType" > <!-- this will create bean(object) automatically wherther you are using or not -->
        <property name="age" value="21" />
<!--        <property name="com" ref="com2" />--> <!-- but if you are uncomment this Desktop object will be created if you are use //lazy-init-->
<!--        <property name="desktop" ref = "desk1"/>-->

<!--        <constructor-arg index="0" value="21" />-->
<!--        <constructor-arg index="1" ref="lap1"/>-->
<!--        <constructor-arg index="2" ref="desk1" />-->
    </bean>
    <bean id="com" class = "org.example.Laptop" primary="true" />
    <bean id="com2" class="org.example.Desktop" lazy-init="true"/>

</beans>