<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Basics</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <script src="app.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Vue Course Practice</h1>
    </header>
    <section id="counter">
      <h2>My Counter</h2>
      <p >{{counter}}</p>
      <input type="number" v-model="inputNumber" v-bind:value="inputNumber" />
      <button v-on:click="increaseCounterByOne()">AddByOne</button>
      <button v-on:click="decreaseCounterByOne()">SubByOne</button>

      <button v-on:click.right="addInputNumber()">AddBy {{inputNumber}}</button>
      <button v-on:click.middle="subInputNumber()">SubBy {{inputNumber}}</button>
      
      <input type="text" v-on:input="setName($event)" v-bind:value="name"/>
      <p>{{name}}</p>

      <form v-on:submit.prevent="submitForm" method="post">
        <input type="email" placeholder="Enter email" v-model="email">
        <input type="password" placeholder="Enter password" v-model="password">
        <button>Sign In</button>
      </form>

<!-- v-model is combination of both v-on:input and v-bind:value -->
      <input type="text" v-on:keyup.enter="setDescription($event)" />
      <p v-for="fruit in fruits" :key="fruit">{{fruit}}</p>
    </section>
    
  </body>
</html>
